<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-init="getInfowant();"></div>
<style>
ul {
    background: #FDFAFB;
    padding: 20px;
    list-style: none;

   -moz-box-shadow: 0px 1px 2px #808080;
   -webkit-box-shadow: 0px 1px 2px #808080;
   box-shadow: 0px 1px 2px #808080;
   width:280px;
}


ul li {
    background: #EAEAF0;
    padding: 5px;
    margin-left: 6px;
    border-color: #DCDCDC;
}

</style>

<div style="position:absolute;left:10px;top:-29px;width:681px;height:50px;z-index:11">
<h6 ><a class="button button1" href="#jobwant">Post Profile</a></h6>
<h6 ><a class="button button1" href="#projectjob">Profile Posted</a></h6>
<h6 ><a class="button button1" href="#jobprofilemessage">Message</a></h6>
</div>



<div style="position:absolute;left:10px;top:29px;width:681px;height:50px;z-index:11">



<b>All Profile Created</b>



<ul ng-repeat="detail in detailswant">


<li>{{detail.pcat}}:


&nbsp&nbsp&nbsp<button class="btn btn-warning" ng-click="showInfowant(detail)" title="Edit">view</button>



<button class="btn btn-warning" ng-click="editInfowant(detail)" title="Edit">Edit</span></button>



<button class="btn btn-danger" ng-click="deleteInfowant(detail)" title="Delete">Delete</button>
</li>


</ul>
</div>


